BlueDot.MsBuild.Tasks/Service References/MCore72DeviceGroup/DeviceGroupManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BlueDot.Mnow.Server.ServiceContracts/2007/01" elementFormDefault="qualified" targetNamespace="http://BlueDot.Mnow.Server.ServiceContracts/2007/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tcdev2.bluedotsolutions.com/MNowCommunicationService/DeviceGroupManagement.svc?xsd=xsd2" namespace="http://BlueDot.Mnow.Server.DataContracts/2007/01" />
  <xs:import schemaLocation="http://tcdev2.bluedotsolutions.com/MNowCommunicationService/DeviceGroupManagement.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdateInstallForGroupApplicationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="GroupInstallUpdate" nillable="true" type="q1:DeviceGroupInstallUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateApplicationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ApplicationIds" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="CreatedByUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsAssociatedToGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsAssociatedToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="DeviceGroupApplications" nillable="true" type="q3:ArrayOfDeviceGroupApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssociatedApplicationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="DeviceGroupApplicationUpdate" nillable="true" type="q4:DeviceGroupApplicationUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeviceGroupCommandRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="NewGroupDeviceCommand" nillable="true" type="q5:DeviceGroupCommandAddition" />
        <xs:element minOccurs="0" name="DeviceGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="NewGroup" nillable="true" type="q6:DeviceGroupAddition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildGroupsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentGroupId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="ChildGroups" nillable="true" type="q7:ArrayOfDeviceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://BlueDot.Mnow.Server.DataContracts/2007/01" minOccurs="0" name="ExistingGroup" nillable="true" type="q8:DeviceGroupUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>