BlueDot.MsBuild.Tasks/Service References/MCoreDeviceGroup/DeviceGroupManagement1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://BlueDot.Mnow.Server.ServiceContracts/2007/01" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDeviceGroupManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://BlueDot.Mnow.Server.ServiceContracts/2007/01" location="http://bdsprjapptst.bluedotsolutions.com/mNowFramework/DeviceGroupManagement.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IDeviceGroupManagement" type="i0:IDeviceGroupManagement">
    <wsp:PolicyReference URI="#WSHttpBinding_IDeviceGroupManagement_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssociateDeploymentPackages">
      <soap12:operation soapAction="AssociateDeploymentPackages" style="document" />
      <wsdl:input name="AssociateDeploymentPackagesRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="CreateGroup" style="document" />
      <wsdl:input name="CreateGroupRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GroupAlreadyExistsFault">
        <soap12:fault use="literal" name="GroupAlreadyExistsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDeploymentPackages">
      <soap12:operation soapAction="GetAvailableDeploymentPackages" style="document" />
      <wsdl:input name="GetAvailableDeploymentPackagesRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableDeploymentPackagesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChildGroups">
      <soap12:operation soapAction="GetChildGroups" style="document" />
      <wsdl:input name="GetChildGroupsRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetChildGroupsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GroupDoesNotExistFault">
        <soap12:fault use="literal" name="GroupDoesNotExistFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentPackages">
      <soap12:operation soapAction="GetDeploymentPackages" style="document" />
      <wsdl:input name="GetDeploymentPackagesRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeploymentPackagesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap12:operation soapAction="RemoveGroup" style="document" />
      <wsdl:input name="RemoveGroupRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GroupDoesNotExistFault">
        <soap12:fault use="literal" name="GroupDoesNotExistFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociatedDeploymentPackage">
      <soap12:operation soapAction="UpdateAssociatedDeploymentPackage" style="document" />
      <wsdl:input name="UpdateAssociationRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociatedDeploymentPackageOrder">
      <soap12:operation soapAction="UpdateAssociatedDeploymentPackageOrder" style="document" />
      <wsdl:input name="UpdateAssociationRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap12:operation soapAction="UpdateGroup" style="document" />
      <wsdl:input name="UpdateGroupRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DefaultFaultContractFault">
        <soap12:fault use="literal" name="DefaultFaultContractFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GroupDoesNotExistFault">
        <soap12:fault use="literal" name="GroupDoesNotExistFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>